/**
 * @file
 * Contains styles specific to the HDGDC sub-theme.
 */

.region-header,
.mean-container .mean-bar,
.mean-container .mean-nav,
#block-menu-menu-footer-menu {
  background-color: #005b98;
}

.region-sidebar-first .block-block,
.region-sidebar-first .block-facetapi {
  border-bottom: 1px solid #948a54;
  border-top: 1px solid #948a54;
  margin-top: 15px;
}
.region-sidebar-first .block-facetapi {
  padding-bottom: 10px;
}

#sidebar-search-form {
  margin: 1.5em 0 1.5em 10px;
}

/* Search page styles */
.view-display-id-search_page .view-content {
  color: #888888;
  margin-top: 1em;
}
.view-display-id-search_page .views-row {
  border-bottom: 1px solid #948a54;
  margin-bottom: 0.75em;
  padding-bottom: 0.75em;
}
.view-display-id-search_page .views-row:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.view-display-id-search_page .views-field.search-result-details {
  margin-top: 0.5em;
  margin-left: 3em;
}

/* Solr record page styles */
.view-display-id-record_details_page {
  margin-bottom: 1em;
}

#content {
  padding-right: 10px;
  padding-left: 10px;
}
.frontpage-image {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

#superfish-1 a:active, #superfish-1 a:link, #superfish-1 a:hover, #superfish-1 a:visited {
  color: #fff;
}
@media (max-width: 799px) {
  aside.sidebars section.region {
    display: normal;
    float: left;
    width: 90%;
    margin-left: 20px;
  }
  #superfish-1 a:active, #superfish-1 a:link, #superfish-1 a:hover, #superfish-1 a:visited {
    color: #fff;
  }
  .sf-accordion-toggle .sf-style-none {
     color: #fff;
  }
}

@media (max-width: 500px) {
  #block-menu-menu-footer-menu .block-title {
    display: none;
  }
}

@media (max-width: 599px) and (min-width: 320px) {
  .sidebar-first #footer {
    width: 100%;
  }
}

@media (max-width: 500px) {
  #block-menu-menu-footer-menu ul.menu li {
    background-color: #005b98;
  }
}
